 <!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>Annie and Becca are sisters who live in the Bay Area. They call each other Poots. </p>
                <p>How to tell Annie and Becca apart: You probably won’t be able to, and we’re so sorry about that. We contemplated having Annie speak in a British accent to circumvent this issue, but it felt inauthentic.</p>
                <p>What a Poots is: We will probably reveal this at some point. Today is not that day.</p>
            </div>
        </div>
    </div>
</section>
